body {
  background-color: lightslategray;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: rgb(92, 132, 140);
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 500;
  line-height: 400%;
  margin: 0;
}

#wrapper {
  margin: auto;
  width: 80%;
  background-color: rgb(100, 140, 140);
}

#wrapper {
  margin: auto;
  width: 80%;
  background-color: rgb(100, 140, 140);
}

nav {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(148, 180, 180);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
  margin-bottom: 30px;
}

#MacrosandMicros {
  float: right;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

#carbohydrates {
  max-width: 350px;
  height: auto;
}

#lipids {
  max-width: 350px;
  height: auto;
}

#proteins {
  max-width: 350px;
  height: auto;
}

#minerals {
  max-width: 350px;
  height: auto;
}

#vitamins {
  max-width: 350px;
  height: auto;
}

section {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  font-family: Arial, Helvetica, sans-serif;
}

.nutrition-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(148, 180, 180);
}

.nutrition-section img {
  max-width: 200px;
  margin-right: 20px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.nutrition-section img {
  transition: transform 0.3s ease-in-out;
}

.nutrition-section img:hover {
  transform: scale(1.1);
}

body {
  font-size: 16px;
}


@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
    
  }

  
  #wrapper {
    padding: 10px;
  }


  img {
    max-width: 100%;
    height: auto;
  }

  nav a {
    display: block;
    margin-bottom: 5px;
  }
}